{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <!--{% for message in messages %}-->
    <!--<div class="alert alert-warning">-->
    <!--    {{message}}-->
    <!--</div>-->
    <!--{% endfor %}-->
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

          <!-- Icon -->
          <div class="fadeIn first">
            <img src="{% static 'icons/login.ico' %}" id="icon" alt="User Icon" />
          </div>

          <!-- Login Form -->
          <form method="POST" action="">
              {% csrf_token %}
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username" autofocus>
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="submit" class="btn btn-outline-primary" value="Log In">
          </form>


        </div>
      </div>
</div>

{% endblock content %}